[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "==2.16"
environs = "==9.3.5"
geopy = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3"
